*{
    margin: 0px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    border-radius: 40px 40px;
    transition: border-radius 1000ms;
    /* border: 1px solid blue; */
}